.todo-list {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .todo-item {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px 5px;
  }
  
  .todo-item > p {
    width: 90%;
    margin: 0;
  }
  
  .todo-item > input[type="text"] {
    width: 90%;
    background-color: rgb(219, 219, 88);
    border: none;
    font-size: 16px;
  }
  
  .todo-item > input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .todo-item > input[type="checkbox"]:checked {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .todo-item > input[type="text"]:focus {
    outline: none;
  }
  
  .icon-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  
  .icon-enabled {
    cursor: pointer;
  }
  